body { min-height: 200vh;
    background-color: #a37999;
}

h1 { font-family: "Bebas Neue",san-serif;
    font-size: 100px
}
h1{text-align:center;}
p{ font-family:"Roboto", sans-serif}
h2{ font-family:"Bebas Neue",san-serif;}
h3 { text-align: right;
  color: 
  #c76de3;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  writing-mode: vertical-lr;
  text-orientation: mixed;
}
h3{ font-family: "Bebas Neue",sans-serif;
  position: relative;
  top: -640px;
  left: 1330px;}

h3{ letter-spacing: 1px;
  line: height 0.08em;}
h1{
    position: relative;

    text-align: center;
  }
  #army2{ 
    height: 100vh;
    background: linear-gradient(to top, black 160vh, white 40vh);}
#army{     text-align: right;
  font-family: impact; san-serif;
  text-orientation: mixed;
  text-transform: uppercase;
  position: relative;
  max-width: 300px;
  margin: 100px auto;
  text-align: center;
  color:#f062c1;
  left:70px;

  font-size: 250px;}
#subtitle{ font-size: 16px;
  color:#e60073;
  font-family: "Bebas Neue",sans-serif;
  position: relative;
  top: -330px;
  left: 660px;
  line: height 0.em;
}
  #frontpage {   
    color: white;
     position: relative;
    top: 10px;
    left: 0px;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  #frontpage:hover  {
    opacity:1;
  }
  #introduction-link{ 
    text-decoration: none; 
    position: relative;
    top:500px;
    left: 60px;}
    #introduction-link{ font-size: 30px;
      font-family:"Roboto", sans-serif;
  font-family:"Roboto", sans-serif;

}
  #introduction-link{ font-weight:700
  }
  #introduction-link{
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
#introduction-link::after{    content:" ";
  height: 2px;
  width: 2050px;
  background: pink;
  display: block;
  position: relative ;
  top: -1%;
  right: 50px;
}   
#Last-page{ 
  text-decoration: none; 
  position: relative;
  top:465px;
  left: 1900px;
   font-size: 30px;
    font-family:"Roboto", sans-serif;
font-weight:600
}
#Last-page{  
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}



#Intro{
    position: relative;
    max-width: 500px;
    margin: 100px auto;
    text-align: center;
  }
  
  img{
    transform: scale(0.25);
  }
  img{  position: absolute;
    top: -50vh;
    left: -1300px;}
  
  div{
    width: 500px;
      border: 1px solid #ccc;
    padding: 10px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.4;
  }
  #amelio{
    position: relative;
    max-width: 1000px;
    margin: 100px auto;
    text-align: center;
  }
  

  

  
  

  div{
    width: 500px;
      border: 1px solid #ccc;
    padding: 10px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.4;
  }
  #robles{
    position: relative;
    max-width: 600px;
    margin: 100px auto;
    text-align: center;
  }
  


  
  div{
    width: 500px;
      border: 1px solid #ccc;
    padding: 10px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.4;
  }
 
 #social{
    position: relative;
    max-width: 700px;
    margin: 100px auto;
    text-align: center;
  }
  

  
  

  
  div{
    width: 500px;
      border: 1px solid #ccc;
    padding: 10px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.4;
  }

#of{
    position: relative;
    max-width: 700px;
    margin: 100px auto;
    text-align: center;
  }
  

  
  

  
  div{
    width: 500px;
      border: 1px solid #ccc;
    padding: 10px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.4;
  }
 
  #posthumous{
    position: relative;
    max-width: 700px;
    margin: 100px auto;
    text-align: center;
  }

  
  section{
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 1rem;
  
  }
  
  div{
    width: 500px;
      border: 1px solid #ccc;
    padding: 10px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.4;
  }

  
  p{
    text-transform: unset;
    color:rgb(0, 0, 0);
  }
  
  section{
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 1rem;
  
  }
  
  div{
    width: 500px;
      border: 1px solid #ccc;
    padding: 10px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.4;
  }
 p{font-weight: 400;
   margin:auto;
    width:1000px;
    justify-content: center;
    align-items:center;
    text-align: justify;
    text-indent: 40px;
    letter-spacing: 2px;
    line: height 0.09em;
    font-size: 18px;  
    margin-bottom: 30px;
    line-height: 22px;
}
.nav-box {
  background-color: lightpink;
  padding: 10px;
  border-radius: 8px; 
  width: 250px;
}

/* Navigation Links */
.nav-box a {font-family:"Roboto", sans-serif;
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: 5px 0;
  background-color: #e3bad7; /* Button style */
  border-radius: 5px;
  text-align: center;
  transition: 0.3s;
}

/* Hover Effect */
.nav-box a:hover {
  background-color: black;
}
.Nexxt2{    color: lightgreen;
  text-decoration: none;
  font-family:"Roboto", sans-serif ;
  font-size: 22px;
font-weight: 600;
}
.Nexxt2{ position: relative;
  left: 40px;
top: 90px
}
.Nextt2{ 
  color: lightblue;   
  text-decoration: none;
  font-family:"Roboto", sans-serif ;
  font-size: 22px;
font-weight: 600;
}
.Nextt2{  position: relative;
  top: 90px;
  left: 1120px;

}
#Nexhome{ position: relative;
  top: 90px;
  left: 1120px
}
#Nexhome{  color: lightblue;   
  text-decoration: none;
  font-family:"Roboto", sans-serif ;
  font-size: 22px;
font-weight: 600;

}